.CreateComment {
    margin-left: -1px;
    margin-right: -1px
    
}
.CreateCommentInput {
    margin-left: -1px;
    margin-right: -1px
}

.CreateCommentRow {
    margin-left: -1px;
    margin-right: -1px
}